# If this project is part of a larger monorepo - better make
# root .gitignore file instead with all those rules

# binary
build/*
!build/Dockerfile

# configuration file
cfg/*
# but keep example congiguration file
!cfg/*example*


# environment files
env/*
# but keep .example environment files
!env/*.example*.env.*

# directory for input files and such
tmp/*
# directory for log files
log/*
# directory for output
out/*

# vi files
*~
*.bak


# .gitkeep to add empty directories
!.gitkeep
# readme files
!README.md

# in case of c++ "databaseFilename": "${workspaceFolder}/.vscode/browse.VC.db"
.vscode/browse*
